# Ignore FreeCAD 
freecad/

# Ignore extracted A2plus 
a2plus/

# Ignore Python virtual environment
venv/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# VSCode and OS metadata
.vscode/
.DS_Store
Thumbs.db
