# Ignore FreeCAD binaries and extracted files
freecad/FreeCAD*
freecad/bin/
freecad/lib/
freecad/*.7z

# Ignore extracted A2plus (keep zip if needed)
a2plus/A2plus-*
a2plus/__pycache__/

# Ignore Python virtual environment
venv/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# VSCode and OS metadata
.vscode/
.DS_Store
Thumbs.db
